header {
  text-align: center;
  padding: 10px;
}
header img {
  width: 150px;
  height: auto;
}

.header_restau {
  display: flex;
  align-items: center;
}
.header_restau i {
  padding-left: 10px;
  font-size: 20px;
  justify-content: flex-start;
}
.header_restau a:last-child {
  display: flex;
  width: 100%;
  justify-content: center;
}
.header_restau img {
  width: 150px;
  position: relative;
}

footer {
  background-color: rgb(61, 59, 59);
  padding: 15px;
}
footer .footer__logo {
  font-family: "Shrikhand", cursive;
  font-size: 20px;
  font-weight: 400;
  color: white;
}
footer ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
footer ul li {
  margin-bottom: 8px;
}
footer ul a {
  text-decoration: none;
  color: white;
}
footer ul a i {
  padding-right: 10px;
}

.btn {
  border-radius: 25px;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  text-decoration: none;
  box-shadow: 0px 2px 10px rgb(133, 132, 132);
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  margin: auto;
  margin-top: 40px;
  cursor: pointer;
}
.btn:hover {
  opacity: 0.9;
  box-shadow: 0px 2px 10px rgb(0, 0, 0);
}
@media (min-width: 600px) {
  .btn {
    width: 365px;
    height: 50px;
  }
}

.img_restaurant img {
  height: 300px;
  object-fit: cover;
}

#carte {
  margin-top: -26px;
}
#carte h1 {
  font-family: "shrikhand";
}
#carte .background {
  background-color: rgb(238, 238, 238);
}
@media (min-width: 1000px) {
  #carte .background {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
#carte .title {
  border-radius: 25px 25px 0px 0px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: rgb(238, 238, 238);
  margin-top: -20px;
}
@media (min-width: 1000px) {
  #carte .title {
    width: 80%;
  }
}
#carte .title h1 {
  padding-left: 15px;
}
#carte .title .restaurants__card--heart {
  margin-right: 70px;
  position: relative;
}
#carte .title .restaurants__card--heart-default {
  font-size: 30px;
  position: absolute;
  z-index: 0;
}
#carte .title .restaurants__card--heart-color {
  font-size: 30px;
  position: absolute;
  color: #99E2D0;
  z-index: 2;
  opacity: 0;
  transition: opacity 1s;
}
#carte .title .restaurants__card--heart-color:hover {
  opacity: 1;
}
@media (min-width: 1000px) {
  #carte {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

#entrees, #plats, #desserts {
  padding-top: 38px;
  padding-left: 15px;
}
@media (min-width: 1000px) {
  #entrees, #plats, #desserts {
    width: 80%;
  }
}
#entrees h2, #plats h2, #desserts h2 {
  text-transform: uppercase;
  font-size: 20px;
}
#entrees .underline, #plats .underline, #desserts .underline {
  width: 45px;
  border: 2px solid #99E2D0;
  margin-top: -10px;
}
#entrees .plat, #plats .plat, #desserts .plat {
  display: flex;
  width: 95%;
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgb(219, 216, 216);
  background-color: white;
  font-size: 14px;
  align-items: flex-end;
  margin-bottom: 12px;
  overflow: hidden;
}
#entrees .plat .plat_title, #plats .plat .plat_title, #desserts .plat .plat_title {
  padding-left: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#entrees .plat .plat_title p, #plats .plat .plat_title p, #desserts .plat .plat_title p {
  margin-top: -8px;
  font-weight: lighter;
  text-overflow: ellipsis;
}
#entrees .plat .price, #plats .plat .price, #desserts .plat .price {
  margin-left: auto;
  padding: 1rem;
}

.bottom {
  padding-bottom: 60px;
}

.white {
  display: flex;
  justify-content: space-around;
  position: absolute;
  width: 100%;
  height: 50%;
  align-items: center;
  background-color: white;
  opacity: 0.8;
  animation: home 4s linear forwards;
}

.load {
  width: 20vh;
  height: 15vh;
  display: flex;
  justify-content: space-evenly;
}
.load__bar {
  background-color: #9356DC;
  height: 100%;
  width: 2vh;
  animation: bars 1000ms backwards infinite ease-in-out alternate;
}
.load__bar--1 {
  animation-delay: 200ms;
}
.load__bar--2 {
  animation-delay: 400ms;
}
.load__bar--3 {
  animation-delay: 600ms;
}
.load__bar--4 {
  animation-delay: 800ms;
}
.load__bar--5 {
  animation-delay: 1000ms;
}

@keyframes bars {
  0% {
    transform: scaleY(0.5);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes home {
  0% {
    z-index: 10;
  }
  80% {
    z-index: 10;
    opacity: 0.8;
  }
  90% {
    z-index: 10;
    opacity: 0.7;
  }
  100% {
    z-index: -1;
  }
}
.plat_1 {
  animation: appearance 2s 200ms both;
}

.plat_2 {
  animation: appearance 2s 400ms both;
}

.plat_3 {
  animation: appearance 2s 600ms both;
}

.plat_4 {
  animation: appearance 2s 800ms both;
}

@keyframes appearance {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.plat:hover .validation {
  margin-right: 0px;
}
.plat:hover i {
  animation: check 500ms ease-in-out;
}

.validation {
  background-color: #99E2D0;
  margin-right: -55px;
  width: 55px;
  height: 76px;
  border-radius: 0px 10px 10px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: margin-right 500ms;
}

.fa-circle-check {
  color: white;
  display: flex;
  align-items: center;
  font-size: 25px;
}

@keyframes check {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}
body {
  margin: auto;
  font-family: "Roboto", sans-serif;
  position: relative;
  z-index: 0;
}

.img_restaurant img {
  width: 100%;
}

.location {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(231, 231, 231);
  box-shadow: inset 0px 2px 4px rgb(183, 181, 181);
}
.location i {
  padding-right: 10px;
  padding-bottom: 4px;
}

.browse {
  text-align: center;
  background-color: rgb(242, 241, 241);
  padding: 5% 12% 5% 12%;
}
.browse h2 {
  font-weight: lighter;
  font-size: 15px;
}

.introduction {
  padding: 5%;
  background-color: white;
}
.introduction h3 {
  font-size: 24px;
}
@media (min-width: 600px) {
  .introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 1000px) {
  .introduction .instruction {
    display: flex;
    flex-direction: row;
  }
}
.introduction .introduction__etape1, .introduction .introduction__etape2, .introduction .introduction__etape3 {
  display: flex;
  align-items: center;
  width: 95%;
  background-color: rgb(242, 241, 241);
  margin: auto;
  position: relative;
  margin-bottom: 20px;
  border-radius: 15px;
  box-shadow: 3px 3px 10px rgb(219, 217, 217);
}
@media (min-width: 600px) {
  .introduction .introduction__etape1, .introduction .introduction__etape2, .introduction .introduction__etape3 {
    width: 513px;
    height: auto;
  }
}
@media (min-width: 1000px) {
  .introduction .introduction__etape1, .introduction .introduction__etape2, .introduction .introduction__etape3 {
    width: 320px;
    margin-left: 2%;
    margin-right: 2%;
  }
}
.introduction .introduction__etape1 .numero, .introduction .introduction__etape2 .numero, .introduction .introduction__etape3 .numero {
  background-color: #9356DC;
  width: 28px;
  height: 28px;
  text-align: center;
  border-radius: 20px;
  position: absolute;
  left: -10px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.introduction .introduction__etape1 .text, .introduction .introduction__etape2 .text, .introduction .introduction__etape3 .text {
  display: flex;
  align-items: center;
  width: 90%;
}
.introduction .introduction__etape1 .text i, .introduction .introduction__etape2 .text i, .introduction .introduction__etape3 .text i {
  padding-left: 40px;
}
.introduction .introduction__etape1 .text p, .introduction .introduction__etape2 .text p, .introduction .introduction__etape3 .text p {
  padding-left: 25px;
  width: auto;
}

.restaurants {
  padding: 5%;
  background-color: rgb(242, 241, 241);
}
.restaurants h3 {
  font-size: 24px;
}
.restaurants .restaurants__card, .restaurants a {
  width: 95%;
  border-radius: 10px;
  margin: auto;
  margin-bottom: 20px;
  position: relative;
  text-decoration: none;
  color: black;
  background-color: white;
}
.restaurants .restaurants__card img, .restaurants a img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}
.restaurants .restaurants__card span, .restaurants a span {
  border-radius: 4px;
  background-color: #99E2D0;
  color: #58a391;
  padding: 10px;
  position: absolute;
  right: 15px;
  top: 12px;
}
.restaurants .restaurants__card span :hover, .restaurants a span :hover {
  font-weight: 800px;
  color: #9356DC;
}
.restaurants .restaurants__card .description, .restaurants a .description {
  padding: 10px 15px 15px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: lighter;
}
.restaurants .restaurants__card .bold, .restaurants a .bold {
  font-weight: bold;
}
.restaurants .restaurants__card .text p, .restaurants a .text p {
  margin: 5px;
}
.restaurants .restaurants__card .restaurants__card--heart, .restaurants a .restaurants__card--heart {
  position: relative;
  margin-right: 25px;
  display: flex;
  align-items: center;
}
.restaurants .restaurants__card .restaurants__card--heart-default, .restaurants a .restaurants__card--heart-default {
  font-size: 25px;
  position: absolute;
  z-index: 0;
}
.restaurants .restaurants__card .restaurants__card--heart-color, .restaurants a .restaurants__card--heart-color {
  font-size: 25px;
  position: absolute;
  color: #99E2D0;
  z-index: 2;
  opacity: 0;
  transition: opacity 1s;
}
.restaurants .restaurants__card .restaurants__card--heart-color:hover, .restaurants a .restaurants__card--heart-color:hover {
  opacity: 1;
}

/*# sourceMappingURL=main.css.map */
