.img_restaurant img {
    height: 300px;
    object-fit: cover;
}

#carte {
    margin-top: -26px;
    h1 {
    font-family: "shrikhand";
    margin-left: 20px;
    }
    .background {
    background-color:rgb(238, 238, 238);
        @media (min-width: 1000px ) {
            width: 80%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    .title {
        border-radius: 25px 25px 0px 0px;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        background-color: rgb(238, 238, 238);
        margin-top: -20px;
        @media (min-width: 1000px ) {
            width: 80%;
        }
        h1 {
            padding-left: 15px;
        }
        .restaurants__card--heart {
            margin-right: 70px;
            position: relative;
            &-default{
            font-size: 30px;
            position: absolute;
            z-index: 0;
            }
            &-color {
            font-size: 30px;
            position: absolute;
            color: #99E2D0;
            z-index: 2;
            opacity: 0;
            transition: opacity 1s;
            &:hover {
            opacity: 1;
            }
            }
        }
    }
    @media (min-width: 1000px ) {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

#entrees, #plats, #desserts {
        padding-top: 38px;
        padding-left: 15px;
        @media (min-width: 1000px ) {
            width: 80%;
        }
        h2 {
            text-transform: uppercase;
            font-size: 20px;
        }
        .underline {
            width: 45px;
            border: 2px solid #99E2D0;
            margin-top: -10px;
        }
        .plat {
            display: flex;
            width: 95%;
            border-radius: 10px;
            box-shadow: 3px 3px 10px rgb(219 216 216);
            background-color: white;
            font-size: 14px;
            align-items: flex-end;
            margin-bottom: 12px;
            overflow:hidden;
            .plat_title {
                padding-left: 15px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                p {
                    margin-top: -8px;
                    font-weight: lighter;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }
            }
            .price {
                margin-left: auto;
                padding: 1rem;
            }
        }
    }

    .bottom {
        padding-bottom: 60px;
    }