// Links
@import "./layout/header";
@import "./layout/footer";
@import "./components/button";
@import "./restaurants";
@import "./utils/variables";
@import "./utils/mixin";
@import "./animations/loading";
@import "./animations/plats";
@import "./animations/validation";

// Home Page
body {
    margin: auto;
    font-family: "Roboto", sans-serif;
    position: relative;
    z-index: 0;
}

.img_restaurant img {
    width: 100%;
}

.location {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-dark-background;
    box-shadow: inset 0px 2px 4px rgb(183 181 181);
    i {
        padding-right: 10px;
        padding-bottom: 4px;
    }
}

.browse {
    text-align: center;
    background-color: $color-light-background;
    padding: 5% 12% 5% 12%;
    h2 {
        font-weight: lighter;
        font-size: 15px;
    }
 }
    


.introduction {
    padding: 5%;
    background-color: white;
    h3 {
        font-size: 24px;
    }
    @media (min-width: 600px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        }

    .instruction {
        @media (min-width: 1000px) {
        display: flex;
        flex-direction: row;
        }
    }
    

    .introduction__etape1, .introduction__etape2, .introduction__etape3 {
        display: flex;
        align-items: center;
        width: 95%;
        background-color: $color-light-background;
        margin: auto;
        position: relative;
        margin-bottom: 20px;
        border-radius: 15px;
        box-shadow: 3px 3px 10px rgb(219 217 217);
        @media (min-width: 600px) {
            width: 513px;
            height: auto;
        }
        @media (min-width: 1000px) {
            width: 320px;
            margin-left: 2%;
            margin-right: 2%;
        }

        .numero {
            background-color: $color-primaire;
            width: 28px;
            height: 28px;
            text-align: center;
            border-radius: 20px;
            position: absolute;
            left: -10px;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .text {
            display: flex;
            align-items: center;
            width: 90%;
            i {
                padding-left: 40px;
            }
            p {
                padding-left: 25px;
                width: auto;
            }
        }
    }
}

.restaurants {
    padding: 5%;
    background-color:$color-light-background;
    h3 {
        font-size: 24px;
    }

    .restaurants__card, a {
        width: 95%;
        border-radius: 10px;
        margin: auto;
        margin-bottom: 20px;
        position: relative;
        text-decoration: none;
        color: black;
        background-color: white;
        img {
            width: 100%;
            height: 200px;
            object-fit: cover;
            border-radius: 10px 10px 0px 0px;
        }
        span {
            border-radius: 4px;
            background-color: $color-tertiaire;
            color: #58a391;
            padding: 10px;
            position: absolute;
            right: 15px;
            top: 12px;
            :hover {
                font-weight: 800px;
                color:#9356DC;
            }
        }
        .description {
            padding: 10px 15px 15px 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-weight: lighter;
        }
        .bold {
            font-weight: bold;
        }
        .text p {
            margin: 5px;
        }
        .restaurants__card--heart {
            position: relative;
            margin-right: 25px;
            display: flex;
            align-items: center;
            &-default{
                font-size: 25px;
                position: absolute;
                z-index: 0;
            }
            &-color {
                font-size: 25px;
                position: absolute;
                color: $color-tertiaire;
                z-index: 2;
                opacity: 0;
                transition: opacity 1s;
                &:hover {
                    opacity: 1;
                }
            }
        }
    }
}
