footer {
    background-color: rgb(61, 59, 59);
    padding: 15px;
    .footer__logo {
        font-family: 'Shrikhand', cursive;
        font-size: 20px;
        font-weight: 400;
        color: white;
    }
    ul {
        list-style-type: none;
        margin: 0px;
        padding: 0px;
        li {
            margin-bottom: 8px;
        }
        a { 
            text-decoration: none;
            color: white;
            i {
                padding-right: 10px;
            }
        }
        
    }
}