.btn {
    border-radius: 25px;
    background: linear-gradient(#FF79DA, #9356DC);
    color: white;
    text-decoration: none;
    box-shadow: 0px 2px 10px rgb(133 132 132);
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    margin: auto;
    margin-top: 40px;
    cursor: pointer;
    &:hover {
            opacity: 0.9;
            box-shadow: 0px 2px 10px rgb(0, 0, 0);
    } 
    
    @media (min-width: 600px) {
        width: 365px;
        height: 50px;
    }
}