$cd-bars: #9356DC;
$size: 2vh;
$num-bars: 5;
$anim-dur: 1000ms;
$anim-delay: $anim-dur / $num-bars;

.white {
    display: flex;
    justify-content: space-around;
    position: absolute;
    width: 100%;
    height: 100%;
    align-items: center;
    background-color: white;
    opacity: 0.8;
    animation: home 4s linear forwards;
    position: fixed;
}

.load {
    width: $size*10;
    height: $size*7.5;
    display: flex;
    justify-content: space-evenly;
    &__bar {
        background-color: $cd-bars;
        height: 100%;
        width: $size;
        animation: bars $anim-dur backwards infinite ease-in-out alternate;
        @for $i from 1 through $num-bars {
            &--#{$i} {
                animation-delay: $anim-delay * $i;
            }
        }
    }
}

@keyframes bars {
    0% {
        transform: scaleY(0.5);
        
    }
    100% {
        transform: scaleY(1.0);
    }
}

@keyframes home {
    0% {
        z-index: 10;
    }
    80% {
        z-index: 10;
        opacity: 0.8;
    }
    90% {
        z-index: 10;
        opacity: 0.7;
    }
    100% {
        z-index: -1;
    }
}