// $color-primaire:#9356DC;
$color-primaire: #ffc0cb;
$color-secondaire:#FF79DA;
$color-tertiaire:#99E2D0;
$color-light-background: rgb(238, 238, 238);
$color-dark-background:rgb(224, 224, 224);
$color-footer:rgb(61, 59, 59);